$background: #ffffff
$foreground: #171717
$background_mid: #0a0a0a
$foreground_mid: #ededed
$lightgray-color: #cacaca
$input-font-color: #3e3e3e
$button-color: #4a4a4a
$button-font: #ededed
$linear: linear-gradient(to bottom, #434343 60%, #212121)


@mixin input
    width: 100%
    padding: .5rem 1rem
    border-radius: 5px
    margin-block: 1rem
    background: $lightgray-color
    color: $input-font-color
    box-shadow: inset 2px 2px 5px $input-font-color

@mixin btn
    padding: .5rem 1rem
    border-radius: 5px
    margin: 1rem
    color: $button-font
    background: $button-color
    border: none
    &:hover 
        filter: brightness(0.9)
    &:active 
        box-shadow: inset 2px 2px 10px #2d2d2d

@mixin flexStyle($content, $items, $direction:none)
    display: flex
    @if($content == none)
        align-items: $items
    @if($items == none)        
        justify-content: $content
    @if($direction == none)        
        flex-direction: $direction
    @else     
        justify-content: $content
        align-items: $items
        flex-direction: $direction